<div class="header">
  <div>TSG Marketplace</div>
</div>

<!--
<mat-tab-group mat-stretch-tabs="false" (selectedTabChange)="onTabChange($event)" mat-align-tabs="start">
  <mat-tab label="Discover">
    &lt;!&ndash; add component here&ndash;&gt;
  </mat-tab>
  <mat-tab label="Extensions">
    &lt;!&ndash; add component here&ndash;&gt;
  </mat-tab>
  <mat-tab label="Themes">
    &lt;!&ndash; add component here&ndash;&gt;
  </mat-tab>
  <mat-tab label="Create Workflow BPMN">
  </mat-tab>
</mat-tab-group>
-->
